.table-container{
    padding-top: 1rem;
    position: relative;
    
    .table{
        width: 100%;


        .header,.single-track-info{
            display: flex;
            flex-wrap: wrap;

            > div{
                padding: 1rem;
                text-align: left;
                vertical-align: top;
                
                &:nth-child(1){
                    width: 5%;

                    @include bp(tablet-sm){
                        display: none;
                    }
                }

                &:nth-child(2){
                    width: 45%;

                    @include bp(tablet-sm){ 
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &:nth-child(3){
                    width: 15%;

                    @include bp(tablet-sm){
                        display: none;
                    }
                }

                &:nth-child(4){
                    width: 15%;

                    @include bp(tablet-sm){
                        display: none;
                    }
                }

                &:nth-child(5){
                    width: 10%;

                    @include bp(tablet-sm){
                        display: none;
                    }
                }

                &:nth-child(6){
                    width: 10%;

                    @include bp(tablet-sm){
                        width: 100%;
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

        }

        .header{
            div{
                background-color: color(primary, base);
            }

            @include bp(tablet-sm){
                display: none;
            }
        }

        .single-track-info{
            line-height: normal;

            div:nth-child(2){
                cursor: pointer;
            }
            
            .album{
                display: flex;
                align-items: flex-start;

                img{
                    margin-right: 1rem;
                    max-width: 64px; 
                }
            }

            .actions{
                display: flex;
                justify-content: space-between;
                align-items: center;
                i,svg{
                    font-size: 1.2rem;
                    max-width: 20px;
                    height: auto;
                    cursor: pointer;
                }
            }

            h5{
                margin-bottom: .5rem;
            }

            p{
                font-size: .9rem;
            }

            @include bp(tablet-sm){
                padding: 0;
                margin-bottom: 1rem;
            }
            
        }
    }
}